@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500');

body {
  margin: 0;
  font-family: Roboto, Arial;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.mr-4 {
  margin-right: 16px;
}

.mr-2 {
  margin-right: 8px;
}